# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

filepath = "jeopardy.csv"
jeopardy_df = pd.read_csv(filepath)
jeopardy_df.columns = jeopardy_df.columns.str.strip()
jeopardy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [133]:
# Creating a func that contains all words in a list of words.
def filter_words_in_list(word_list=[]):
    basic_filter = jeopardy_df[jeopardy_df.Question.str.contains("|".join(word_list),re.I,regex=True)].reset_index()
    rows = jeopardy_df[(jeopardy_df.Question.str.contains(word_list[0],re.I,regex=True)==True) & (jeopardy_df.Question.str.contains(word_list[1],re.I,regex=True)==True)]
    return rows.reset_index()
    
list_of_words = ['King','England']

# column to be printed
cols = filter_words_in_list(list_of_words)
cols.head()

,index,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
1,14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
2,21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
3,23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
4,27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [ ]:
'''
The function above seems not to include words that dont start with 'king'or 'King' 
and includes words like 'England's'.
'''

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [9]:
# Changing type of Value column to float type

jeopardy_df['float_values'] = jeopardy_df.Value.str.replace(r'\D+',"")
jeopardy_df['float_values'] = pd.to_numeric(jeopardy_df['float_values'])
jeopardy_df['float_values'] = jeopardy_df['float_values'].fillna(0)
king_values = jeopardy_df[jeopardy_df.Question.str.contains(r"King|king")]
king_values_mean = king_values['float_values'].mean()

print(f"The average value is: {king_values_mean:0.2f}")

/var/folders/hl/zjjjtjfn3_x86lljfycj2bsr0000gn/T/ipykernel_54466/726182867.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  jeopardy_df['float_values'] = jeopardy_df.Value.str.replace(r'\D+',"")

The average value is: 771.84

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [10]:
def unique_answers(terms=[]):
    filtered_king_values = jeopardy_df[jeopardy_df['Question'].str.contains("|".join(terms),re.I,regex=True)]
    unique_counts = filtered_king_values['Answer'].value_counts(dropna=False)
    return unique_counts

terms = ['King','king']
unique_answers(terms).head()

Henry VIII     55
Solomon        35
Richard III    33
Louis XIV      31
David          30
Name: Answer, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [107]:
# Investigate the ways in which questions change over time by filtering by the date. 
# How many questions from the 90s use the word "Computer" compared to questions from the 2000s?

word = 'computer'

jeopardy_df['Air Date'] = pd.to_datetime(jeopardy_df['Air Date'],format='%Y-%m-%d')
air_dates_after = jeopardy_df[(jeopardy_df['Air Date'].dt.strftime('%Y') >= str(2000)) & (jeopardy_df['Air Date'].dt.strftime('%Y') < str(2010))].sort_values(by='Air Date')
filtered_air_dates = jeopardy_df[jeopardy_df['Air Date'].dt.strftime('%Y') < str(2000)].sort_values(by='Air Date')
rows_contained = filtered_air_dates[filtered_air_dates['Question'].str.contains(word,case=False)]
rows_contained_after = air_dates_after[air_dates_after['Question'].str.contains(word,case=False)]

print("The no. of rows from the 90s is: {} and from the 2000s is: {}".format(len(rows_contained),len(rows_contained_after)))

The no. of rows from the 90s is: 104 and from the 2000s is: 268

In [128]:
#Perhaps another way of doing it...?
# This ignores rows with words like supercomputer,picking rows that have computer as an individual word.
test = jeopardy_df[(jeopardy_df['Air Date'].dt.strftime('%Y') >= str(2000)) & (jeopardy_df['Air Date'].dt.strftime('%Y') < str(2010)) & (jeopardy_df['Question'].str.contains(r'\bcomputer\b',case=False))]
len(test)

227

In [101]:
# Is there a connection between the round and the category? 
#Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?

# jeo = jeopardy_df.groupby('Round').get_group('Jeopardy!')
# test = jeo[jeo.Category=='LITERATURE']

a = jeopardy_df[jeopardy_df['Category'].map(lambda x: x=='LITERATURE')].groupby('Round').count().reset_index()
print(a[['Round','Category']])


# t = jeopardy_df[jeopardy_df['Category']=='LITERATURE']
# p = len(t.groupby('Round').get_group('Double Jeopardy!'))/len(jeopardy_df['Round'])
# round(p*100,2)

              Round  Category
0  Double Jeopardy!       381
1   Final Jeopardy!        10
2         Jeopardy!       105

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.